<div class="row">
  <div class="col-xs-12">
    <p>Add new test element or blueprints</p>
    <label for="">Test Element Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newTestElementName"> -->
    <!-- local reference example for following input -->
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newTestElementName"
      #testElementName>
    <label for="">Test Element Content</label>
    <input type="text" class="form-control" [(ngModel)]="newTestElementContent">
    <br>
    <button class="btn btn-primary" (click)="onAddTestElement(testElementName)">
      Add test element
    </button>
    <button class="btn btn-primary" (click)="onAddBluePrint(testElementName)">
      Add blue print
    </button>
  </div>
</div>
