<div class="row">
  <div class="col-xs-12">
    <p>Add new test element or blueprints</p>
    <label for="">Test Element Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newTestElementName"> -->
    <!-- local reference example for following input -->
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newTestElementName"
      #testElementName>
    <label for="">Test Element Content</label>
    <input type="text" class="form-control" [(ngModel)]="newTestElementContent">
    <br>
    <button class="btn btn-primary" (click)="onAddTestElement(testElementName)">
      Add test element
    </button>
    <button class="btn btn-primary" (click)="onAddBluePrint(testElementName)">
      Add blue print
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>ROUTER NAV PARAMS: </h1>
    <h3>{{ testPathParam.id }} : {{ testPathParam.myVar }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a [routerLink]="['/2', 2, 'sd']" >Load url path var</a>
      </li>
      <li routerLinkActive="active">
        <a
          [routerLink]="['/2', 10, 'edit']"
          [queryParams]="{testQueryParam: '1'}"
          fragment="testFrag"
        >Test route</a>
      </li>
    </ul>
  </div>
</div>
