<!-- <app-header (selectedFeature)="onNavigate($event)"></app-header> -->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- <app-recipes *ngIf="loadedFeature === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Testing Forms - TEMPLATE DRIVEN APPROACH -->
  <!-- control only happens through the template -->
  <!-- <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <button type="button" class="btn btn-default" (click)="suggestUserName()">Suggest a Username</button>
      <div id="test-form" ngModelGroup="testFormGroup" #testForm="ngModelGroup">
        <div class="form-group">
          <label for="name">Enter Name</label>
          <input #name="ngModel" type="text" id="nameInput" class="form-control" ngModel name="name" required>
          <p *ngIf="!name.valid && name.touched">name invalid</p>
        </div>
        <div class="form-group">
          <label for="name">Enter Email</label>
          <input #email="ngModel" type="text" id="emailInput" class="form-control" ngModel="{{defaultEmail}}" name="email" required email>
          <p *ngIf="!email.valid && email.touched">email invalid</p>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="questionAnswer" rows="3" [(ngModel)]="answer"></textarea>
          <p>Your reply: {{ answer }}</p>
        </div>
        <div class="radio" *ngFor="let val of radioButtonValues">
          <label>
            <input required type="radio" name="radioTest" ngModel [value]="val">{{ val }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        <p *ngIf="!testForm.valid && testForm.touched">Form is invalid</p>
      </div>
    </form>
    <hr>
    <div class="row" *ngIf="submitted">
      <div class="col-xs-12">
        <h3>Your Data:</h3>
        <p>name: {{ user.name }}</p>
        <p>email: {{ user.email }}</p>
        <p>answer: {{ user.answer }}</p>
        <p>radio: {{ user.radio }}</p>
      </div>
    </div>
  </div> -->

  <!-- REACTIVE APPROACH -->
  <!-- <div class="row">
    <form [formGroup]="reactiveForm" (ngSubmit)="onReactiveSubmit()">
        <div class="form-group">
          <label for="name">Enter Name</label>
          <input formControlName="name" type="text" id="nameInput" class="form-control" >
          <p *ngIf="!reactiveForm.get('name').valid && reactiveForm.get('name').touched">name invalid</p>
        </div>
        <div class="form-group">
          <label for="name">Enter Email</label>
          <input formControlName="email" ngtype="text" id="emailInput" class="form-control"  >
          <p *ngIf="!reactiveForm.get('email').valid && reactiveForm.get('email').touched">email invalid</p>
        </div>
        <div class="radio" *ngFor="let val of radioButtonValues">
          <label>
            <input formControlName="radio" type="radio" name="" [value]="val" >{{ val }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <p *ngIf="!reactiveForm.valid && reactiveForm.touched">form invalid</p>
    </form>
  </div> -->
  <div class="row">
    <form [formGroup]="reactiveForm" (ngSubmit)="onReactiveSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="name">Enter Name</label>
          <input formControlName="name" type="text" id="nameInput" class="form-control" >
          <span
            *ngIf="!reactiveForm.get('userData.name').valid && reactiveForm.get('userData.name').touched"
            class="help-block">
            <span *ngIf="reactiveForm.get('userData.name').errors['nameIsForbidden']">This name is invalid!</span>
            <span *ngIf="reactiveForm.get('userData.name').errors['required']">This field is required!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Enter Email</label>
          <input formControlName="email" ngtype="text" id="emailInput" class="form-control"  >
          <span
            *ngIf="!reactiveForm.get('userData.email').valid && reactiveForm.get('userData.email').touched"
            class="help-block">Please enter a valid email!
          </span>
        </div>
        <!-- <div class="radio" *ngFor="let val of radioButtonValues">
          <label>
            <input formControlName="radio" type="radio" [value]="val" >{{ val }}
          </label>
        </div> -->
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            type="button"
            (click)="onAddHobby()">Add Hobby</button>
          <div
            class="form-group"
            *ngFor="let hobbyControl of reactiveForm.get('userData.hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <!-- <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            type="button"
            (click)="onAddHobby()">Add Hobby</button>
          <div
            class="form-group"
            *ngFor="let hobbyControl of reactiveForm.get('hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div> -->
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <!-- TEST ROUTER START -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" style="margin-bottom:20px;">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">1</a></li> -->
        <!-- Relative path without '/' -->
        <!-- <li routerLinkActive="active"><a routerLink="1">2</a></li> -->
        <!-- using routerLink as property binding you can then add longer paths/segments as an element of the array -->
        <!-- Absolute path via / appends to root domain -->
        <!-- <li routerLinkActive="active"><a [routerLink]="['/2']">3</a></li>
      </ul> -->

      <!-- <div *ngFor="let account of accounts">
        <h1>{{ account.name }}</h1>
        <h2>{{ account.status }}</h2>
      </div>

      <app-dashboard  (bpCreated)="onBluePrintAdded($event)" (testElementCreatedEvent)="onTestElementAdded($event)"></app-dashboard>
      <app-test-element [testElement]="testElement" *ngFor="let testElement of testElements">
        <p #testingProjectingRef>
          <span *ngIf="testElement.type === 'test-element'" style="color:orangered">{{ testElement.content }}</span>
          <span *ngIf="testElement.type === 'blueprint'" style="color:#00eaff">{{ testElement.content }}</span>
        </p>
      </app-test-element>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div> -->
  <!-- TEST ROUTER END -->

</div>
