<app-header (selectedFeature)="onNavigate($event)"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <app-recipes *ngIf="loadedFeature === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>


      <!-- TEST COMPONENTS START -->
      <!-- <div *ngFor="let account of accounts">
        <h1>{{ account.name }}</h1>
        <h2>{{ account.status }}</h2>
      </div> -->

      <!-- <app-dashboard  (bpCreated)="onBluePrintAdded($event)" (testElementCreatedEvent)="onTestElementAdded($event)"></app-dashboard>
      <app-test-element [testElement]="testElement" *ngFor="let testElement of testElements">
        <p #testingProjectingRef>
          <span *ngIf="testElement.type === 'test-element'" style="color:orangered">{{ testElement.content }}</span>
          <span *ngIf="testElement.type === 'blueprint'" style="color:#00eaff">{{ testElement.content }}</span>
        </p>
      </app-test-element> -->
      <!-- TEST COMPONENTS END -->

    </div>
  </div>
</div>
